/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family:
    Times New Roman,
    sans-serif;
  background: #f4f4f4;
}

/* Header */
header {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

/* Filters (Flexbox) */
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.filters button {
  padding: 10px 15px;
  border: none;
  background: #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filters button:hover {
  background: #4caf50;
}

.filters button.active {
  background: #4caf50;
  color: white;
}

/* Gallery (Grid) */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
}

/* Cards */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: white;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

/* Hide Animation */
.card.hide {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.card img {
  width: 100%;
  display: block;
  aspect-ratio: 1;
  object-fit: cover;
}

/* Hover Effect */
.card:hover {
  transform: scale(1.05);
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* hover text*/
.card:hover .overlay {
  opacity: 1;
}

/* Card-info (grid)*/
.card-info {
  display: grid;
  gap: 5px;
  padding: 10px;
  text-align: center;
}

/* Responsive */

/* Tablet */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
